<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shopay.template.mapper.UserMapper">

	<resultMap id="UserMap" type="User">
		<result property="id" column="ID" />
		<result property="name" column="NAME" />
		<result property="status" column="STATUS" />
		<result property="updateBy" column="UPDATE_BY" />
		<result property="updateTime" column="UPDATE_TIME" />
		<result property="createBy" column="CREATE_BY" />
		<result property="createTime" column="CREATE_TIME" />
	</resultMap>

	<select id="findById" resultMap="UserMap">
		SELECT * FROM user where ID =
		#{id}
	</select>

	<select id="findAll" resultMap="UserMap">
		select * from user order by NAME
		asc
	</select>

	<select id="findByName" resultMap="UserMap">
		SELECT * FROM user where NAME = #{name}
	</select>

	<insert id="save" parameterType="User">
		insert into user(
		ID,
		NAME,
		STATUS,
		CREATE_BY,
		CREATE_TIME
		) values(
		#{id},
		#{name},
		#{status},
		#{createBy},
		now()
		)
	</insert>

	<update id="update" parameterType="User">
		update user
		<set>
			<if test="name != null and name != ''">
				NAME=#{name},
			</if>
			<if test="status != null and status != ''">
				STATUS = #{status},
			</if>
			<if test="updateBy != null and updateBy != ''">
				UPDATE_BY=#{updateBy},
			</if>
			UPDATE_TIME = now()
		</set>
		where ID = #{id}
	</update>

	<update id="deleteById">
		update user set
		STATUS=3,UPDATE_TIME=now(),update_by=#{deleteBy} where ID=#{id}
	</update>

</mapper>